{# Twig template engine #}
{# ../app/Resources/view/base.html.twig #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">

    <title></title>
</head>
<body>
</body>
</html>
